$color-primary: orange;
$color-secondary: gray;
$color-tertiary: royalblue;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

.nav {
  background-color: $color-primary;

  ul li {
    //Nesting
    list-style: none;
    a {
      text-decoration: none;
      font-size: $font-sm;
      color: $color-secondary;

      &:hover {
        // & indicates parent element i.e., a:hover (without space)
        color: $color-tertiary;
      }
    }
  }
}

@mixin headingStyles($fontSize: 50px) {
  font-size: $fontSize;
  color: $color-secondary; //Reusable variables (mixin)
  text-align: center;
}

@mixin transition($param...) {
  // ... indicates taking multiple parameters
  // in this case, color and background-color
  transition: $param;
}

.banner h1 {
  // $color-secondary: red !global; //Local variable. Overrides global variable, if any
  //                                 // Using " !global " local variables can be applied to global scope
  @include headingStyles($font-lg); //Paramenter passing in mixins
}

.footer h3 {
  @include headingStyles;
  @include transition(color 0.5s, background-color 1s);
  &:hover {
    color: $color-tertiary;
    background-color: $color-primary;
  }
}
